/*Premier League CSS*/
*{
	margin: 0 auto 0 auto; /*auto ensure all elements are 'reset' to a consistent start point*/
	text-align:left;
}

a, a:visited{
  text-decoration: none;
	color: inherit;
	/* outline: 1px solid blue; */
}

body{
	margin-top: 5px;
}

div[class='error']{
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	color: green;
	border: 3px solid green;
	text-align: center;
}

img{
  height: 30px;
  width: 30px;
}

li{
  list-style: none;
}

/*the validate plug-in adds to the dom a label element to display errors.
By making it block level it appears on a new line underneath the fieldset
with the error*/
/*label {
	display:block;
	color: red;
}*/

table {
	border-collapse: collapse; /*this allows border property to be applied to <tr>*/
	margin-left: 80px;
}

th, td{
	padding: 5px 5px;
	text-align: center;
}

/*ensures only rows of the class have hover effect applied*/
tr[class='table_rows']:hover{
	background-color: pink;
	/*border-bottom: 1px solid blue;*/
}

footer{
	border-top: thick solid black;
	bottom:17px;
	font-family: 'Baloo', cursive;
	position:fixed;
	width: 1200px;
	/* outline: 1px solid red; */
}

header{
	font-family: 'Bungee Shade';
	height: 120px;
  width: 1200px;
	text-align: center;
	border-bottom: thick solid black;
	margin-bottom: 5px; /*this specifies the gap downwards from header's bottom boundary*/
	/*outline:  1px solid red;*/
}

header h1{
	font-size: 53px;
	height: 120px;
	text-align: center;
	/*outline: 1px solid green;*/
}

header h1 a{
	display: inline-block; /*this allows height to be set*/
	height: 120px;
	/*outline: 2px solid yellow;*/
}

nav{
  width: 240px;
  float: left; /*otherwise it would be centered*/
  /* font-family: 'Unica One', cursive; */
	font-family: 'Baloo', cursive;
	/*outline: 1px solid blue;*/
}


nav ul{
	padding: 0px; /*this makes the menu options sit flush on the left of screen*/
	/*border : 1px solid green;*/
}

nav li{
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 25px;
	float: left;
	width: 240px;
	/* outline: 1px dashed red; */
}

nav li:hover{
	font-weight: bolder;
	text-decoration: underline;
}

section{
  width: 900px;
	float: left;
	/*margin-top: 15px;*/
	padding-left: 15px;
	font-family: 'Baloo', cursive;
	font-size: 18px;
	/*outline: 2px solid purple;*/
}

#create_team_form{
	margin-left: 62px;
	margin-top: 20px;
	/*outline: 2px solid purple;*/
}

#enter_result_form{
	margin-top: 20px;
}

/* #icon_team{
	background-image: url('../images/team.png');
}

#icon_team:hover{
	background-image: url('../images/team_hover.png');
} */

#invalid_results{
	margin: 25px 0 0 50px;
}

#league_table{
	font-size: 15px;
}

#paginated_navigation{
	/* border-top: thick solid black; */
	margin-left: 189px;
	margin-top: 15px;
	text-align: center;
	width:900px;
	outline: 2px solid green;
}

#paginated_navigation a{
	padding: 0px 8px;
}

#paginated_navigation a:hover{
	background: orange;
}

#submitSaveResult{
	margin-left: 143px;
}

#td_draws{
	background: #DDFF11;
}

#td_losses{
	background: #DD0048;
}

#td_wins{
	background: #0bff01;
}

#teamName{
	width: 300px;
	margin-bottom: 15px;
	width:555px;
}

#team_details_Headline{
	text-align: center;
	/* outline: 2px solid green; */
}

#team_details_name{
	font-family: 'Bungee', cursive;
	font-size: 40px;
}

#team_details_table{
	/* border: 1px solid red; */
	/* left:45px;
	position: relative; */
	padding: 0px 0px;
	width: 70%;
}


/*#usr_messages{
	  width: 300px;
		border: 1px solid green;
}*/

/*.integrity_error{
	font-family: 'Unica One', cursive;
	font-weight: bold;
	color: DarkCyan;
}*/

#wrapper{
  width:1200px;
}

.button_upload{
	background: #ffffff;
	border: 2px solid #D9D6D3;
	border-radius: 12px;
	color: #D9D6D3;
	font-family: 'Baloo', cursive;
	font-size: 40px;
	left: 200px;
	margin: 30px 0 30px 0;
	padding: 20px 10px;
	position: relative;
	text-align: center;
	width: 500px;
}

.button_upload:hover{
	border: 2px solid red;
	color: red;
}

.error{
	/*font-family: 'Unica One', cursive;*/
	border-radius: 15px;
	background: #ff0000;
	color: white;
	/*display: none;*/
	font-weight: bold;
	text-align: center;
	width: 675px;
}

.feedback{
	/*font-family: 'Unica One', cursive;*/
	border-radius: 15px;
	background: Blue;
	color: white;
	display: none;
	font-weight: bold;
	text-align: center;
	width: 675px;
}

.fixture{
	background-color: #e8f7f3;
}

.fixture input{
	width: 50px;
}

.full_time{
	font-weight: bold;
}

.icons{
	vertical-align: middle; /*lines up icons with menu text*/
	/* outline: 1px solid pink; */
}

.team_details_rows{
	font-family: 'Baloo', cursive;
	font-size: 30px;
	font-weight:lighter;
}

.warning{
	border-radius: 15px;
	background: #fcc438;
	border: 2px solid #ef8d22;
	color: black;
	display: none;
	font-weight: bold;
	text-align: center;
	width: 675px;
}

.goals_spinner {
	margin: 20px;
}

.spinner{
	width: 25px;
}

.team_column{
	font-weight: bold;
	text-align: left;
	/*border-right: 1px solid red;*/
}

.teamDropDowns{
	padding: 0px 0px 25px 60px;
}

.table_rows{
	border-bottom: 1px solid red;
}

/*next 3 classes used in team details view  */
.win{
  background-color: green;
}

.loss{
  background-color: red;
}

.drawn{
  background-color: orange;
}
/* ------------------------------ */
/*Fonts
font-family: 'Bungee', cursive;
font-family: 'Baloo', cursive;*/
