/* GLOBAL PAGE SETTINGS */
*{
	margin: 0 auto 0 auto;
	text-align:left;
}

#wrapper{
  width:1200px;
	/* overflow: hidden; */
}

a, a:visited{
  text-decoration: none;
	color: inherit;
}

body{
	margin-top: 5px;
	overflow-y:scroll;
}

li{
  list-style: none;
}

img{
  height: 30px;
  width: 30px;
}

/* get 'label' elements which are
	 children of 'anchor' elements which happen succeed a checked input (!) */
input:checked + a > label{
	color: #ce1010;
}

input[type="submit"]{
	background: #fff;
	border: 2px solid #BEBEBE;
	border-radius: 4px;
	color: #BEBEBE;
	font-size: 20px;
	padding: 10px;
}

input[type="submit"]:hover{
	border: 2px solid red;
	box-shadow: 5px 5px;
	color: red;
}

/* INPUT TEXT BOX STYLES */
input[type="text"], input[type="password"]{
	font-size: 24px;
	letter-spacing: 0.1em;
	padding: 10px;
}

label{
	cursor: pointer;
}

table {
	border-collapse: collapse; /*this allows border property to be applied to <tr>*/
	margin-left: 80px;
}

th, td{
	padding: 5px 5px;
	text-align: center;
}

/*ensures only rows of the class have hover effect applied*/
tr[class='table_rows']:hover{
	background-color: black;
	color: #ffffff;
}

.table_rows{
	border-bottom: 1px solid red;
}

/* aligns the teams in Teams fieldset on charts_home view */
td[class='team_filter']{
	text-align:left;
	margin: 20px 0;
}

fieldset{
	border: 3px solid #8bcbc8;
	font-size: 12px;
}

legend{
	font-size: 18px;
	letter-spacing: 0.1em;
	padding: 10px;
}

footer{
	background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
	border-top: thick solid black;
	font-family: 'Baloo', cursive;
	letter-spacing: 0.1em;
	text-align: center;
	position:fixed;
	bottom:0px;
	width: 1200px;
}

header{
	font-family: 'Bungee Shade';
	height: 120px;
	width: 1200px;
	text-align: center;
	border-bottom: thick solid black;
	margin-bottom: 5px; /*specifies gap downwards from header's bottom boundary*/
}

header h1{
	font-size: 53px;
	height: 120px;
	text-align: center;
}

section h2{
	font-weight: 100;
}

nav{
  width: 240px;
  float: left; /*otherwise it would be centered */
	font-family: 'Baloo', cursive;
}

nav ul{
	padding: 0px; /*position menu options flush on the left of screen*/
}

nav li{
	opacity: 0.7;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 25px;
	width: 240px;
}

nav li:hover{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;
	color: #000;
	text-shadow: 0 0 3px #FF0000;
}

.current_menu{
	background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
	border-radius: 5px;
}

section{
  width: 900px;
	float: left;
	padding-left: 15px;
	font-family: 'Baloo', cursive;
	font-size: 18px;
}

/* FORM AND FORM CONTROLS */
#create_team_form{
	margin-left: 62px;
	margin-top: 20px;
}

#enter_result_form{
	margin-top: 20px;
	margin-left: -40px;
}

#create_result_form{
	position: relative;
	top: 40px;
	left: 80px;
}

#submitSaveResult{
	position: relative;
	left: -84px;
}

#chart_selection{
	margin-top: 50px;
}

/*div that holds the table of invalid results in upload errors*/
#invalid_results{
	margin: 25px 0 0 -15px;
}

#key_facts{
	position: relative;
	margin-left: 619px;
	margin-top: -259px;
}

#key_facts_home{
	margin-left: 619px;
	margin-top: -241px;
}

#key_facts_away{
	margin-left: 619px;
	margin-top: -241px;
}

.key_facts_card{
	box-shadow: 0 2px #000;
	border: 2px solid #000;
	border-radius: 4px;
	width: 25%;
}

.card_title{
	background: #5abaa7;
	border-bottom: 1px solid #000;
	text-align: center;
	margin-left: -15px;
}

/* LEAGUE TABLE */
#league_table{
	font-size: 15px;
}

#league_table th{
	font-weight: 100;
	padding: 10px;
	border-bottom: 2px solid red;
}

.team_column{
	text-align: left;
}

/* ERRORS TABLE */
#errors_table th, #errors_table td {
	font-size: 15px;
	font-weight: lighter;
	padding: 10px;
}

#errors_table tr:nth-child(2){
	border-top: 2px solid red;
}

#errors_table tr[class='table_rows']:hover{
	color: #000;
	background-color: #e5e5e5;
}

#errors_table input{
	width: 50px;
}

#errors_table .team_name input{
	width: 145px;
}

#msg_span{
	float: right;
}

#paginated_navigation{
	border-top: thick solid black;
	margin-top: 25px;
	text-align: center;
	padding: 5px;
	position: fixed;
	left: 900px;
	top: 776px;
}

#paginated_navigation a{
	padding: 0px 6px;
}

#paginated_navigation a:hover{
	background: orange;
	border-radius: 10px;
}

#submitSaveResult{
	margin-left: 143px;
}

#table_team_filter{
	margin-left: 67px;
	width:90%;
}

#td_draws{
	background: #DDFF11;
}

#td_losses{
	background: #DD0048;
}

#td_wins{
	background: #0bff01;
}

#teamName, #pw{
	width: 300px;
	margin-bottom: 15px;
	width:555px;
}

#team_details_Headline{
	text-align: center;
}

#team_details_name{
	border-bottom: 2px solid black;
	font-family: 'Bungee', cursive;
	font-size: 40px;
	letter-spacing: 0.1em;
	padding-bottom: 5px;
	text-align: center;
	text-shadow: 2px 2px cadetblue;
}

#team_results{
	margin-top: 20px;
	position: relative;
	left: 60px;
}

#team_results th, #team_results td {
	font-size: 18px;
	font-weight: lighter;
}

#team_results tr:nth-child(2){
	border-top: 2px solid red;
}

#team_results tr:nth-child(even){
	background: #dae9e4;
}

.button_upload{
	background: #ffffff;
	border: 2px solid #BEBEBE;
	border-radius: 12px;
	color: #BEBEBE;
	font-family: 'Baloo', cursive;
	font-size: 40px;
	left: 200px;
	margin: 30px 0 30px 0;
	padding: 20px 10px;
	position: relative;
	text-align: center;
	width: 500px;
}

.button_upload:hover{
	border: 2px solid red;
	color: red;
}

#results_file_selection{
	font-weight: lighter;
	letter-spacing: 0.1em;
	width: 80%;
	position: relative;
	top: 19px;
	right: -165px;
}

#compare_button{
	background: #fff;
	border: 1px solid #BEBEBE;
	border-radius: 4px;
	color: #BEBEBE;
	font-family: 'Baloo', cursive;
	position: relative;
  top: 72px;
  left: 250px;
}

.closeMsg{
	margin:12px 12px 20px 0;
}

/* class error_desc is used for error descriptions in errors_table */
.error_desc{
	color: red;
	font-size: 15px;
}

/* red error panel that get displayed to user */
.error{
	border-radius: 12px;
	background: #ff0000;
	border: 2px solid #c92d39;
	box-shadow: 5px 5px black;
	color: white;
	display: none;
	font-weight: lighter;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 675px;
}

.feedback{
	border-radius: 12px;
	background: #070ff9;
	border: 2px solid #3aa6dd;
	box-shadow: 5px 5px black;
	color: white;
	display: none;
	font-weight: lighter;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 675px;
}

.success_msg{
	border-radius: 12px;
	background: green;
	border: 2px solid #23f907;
	box-shadow: 5px 5px black;
	color: white;
	display:none;
	font-weight: lighter;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 675px;
}

.warning{
	border-radius: 12px;
	background: #fcc438;
	border: 2px solid #ef8d22;
	box-shadow: 5px 5px black;
	color: black;
	display: none;
	font-weight: lighter;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 675px;
}

.demo_message{
	padding:.8em;
	margin-top: 1em;
	border: 2px solid #ddd;
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
	display:none;
}
/* END message panels */

#upload_results_button:disabled:hover{
	border: 2px solid #BEBEBE;
	color: #BEBEBE;
	box-shadow: none;
}

.fixture{
	background-color: #e8f7f3;
}

#results_list{
	margin-top: 50px;
}

#results_grid{
	position: relative;
	left: 40px;
}

#results_grid tr:nth-child(even){
	background: #dae9e4;
}

#results_grid input{
	width: 50px;
}

#results_grid .team_name input{
	width: 145px;
}

.banner{
	position: relative;
	left:300px;
}

.erroneous_result_delete{
	border: 2px solid #BEBEBE;
	border-radius: 12px;
	padding: 5px;
}

.full_time{
	font-weight: bold;
}

.icons{
	vertical-align: middle; /*lines up icons with menu text*/
}

/* table holding the overall stats for a team */
.stats_table{
	margin-left: 0;
}

.resolve_error_buttons{
	background: #ffffff;
	border: 2px solid #BEBEBE;
	border-radius: 12px;
	color: #BEBEBE;
	font-family: 'Baloo', cursive;
	font-size: 19px;
	left: 70px;
	margin: 30px 0 30px 7px;
	padding: 20px 10px;
	position: relative;
	text-align: center;
	width: 157px;
}

.resolve_error_buttons:hover{
	border: 2px solid red;
	box-shadow: 5px 5px;
	color: red;
}

.team_details_rows{
	font-family: 'Baloo', cursive;
	font-size: 30px;
	font-weight:lighter;
}

.spinner{
	width: 25px;
	margin: 20px;
}

.teamDropDowns{
	padding: 35px 0px 25px 60px;
}

.team_filter a:hover{
	text-decoration: underline;
}

#team1, #team2{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#team1 p:nth-child(1), #team2 p:nth-child(1) {
	background: #c92d39;
	color: #fff;
	font-size: 30px;
	letter-spacing: 0.2em;
}

.team_stat{
	display: inline;
	padding: 0px 20px;
}

#head_to_head{
	/* without setting margin bottom the section's content was being obscured by the footer  */
	margin-bottom: 57px;
	width: 100%;
}

#head_to_head > h2{
	background: #fcc438;
}

#head_to_head > table{
	font-size: 25px;
	width: 80%;
}

.rating{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.stats{
	padding-left: 0px;
}

.stats_banner{
	cursor: pointer;
	letter-spacing: 0.1em;
	padding-left: 10px;
}

#stats_overall{
	background: rgb(193,228,247);
	background: linear-gradient(90deg, rgba(193,228,247,1) 28%, rgba(153,213,202,1) 77%);
}

#stats_home{
	background: rgb(131,187,229);
	background: linear-gradient(90deg, rgba(131,187,229,1) 28%, rgba(90,186,167,1) 77%);
}

#stats_away{
	background: rgb(25,150,125);
	background: linear-gradient(90deg, rgba(25,150,125,1) 28%, rgba(12,124,186,1) 77%);
}

/* ABOUT AND HINTS STYLES */
#demo_information{
	background: #FFF6BF;
  padding:.8em;
}

#demo_information a{
	text-decoration: underline;
}

#demo_information li{
	list-style:disc;
}

.panel_header{
	border-bottom: 2px solid #FFD324;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin: 0;
	padding-left: 5px;
}

.panel_header:hover{
	background: #f3c18c;
}

.panel_content{
	margin: 0;
	padding: 0 0 0 5px;
}

.active_header{
	background: #ef8d22;
}

#start_demo{
	font-size: 1.5em;
	text-align: center;
	margin-top: 10px;
}

.hint_text{
	margin-top: 20px;
	margin-left: 154px;
	color: blue;
}

.hint_text p > a{
	text-decoration: underline;
}

/* END ABOUT AND HINTS STYLES */

/* HINTS SWITCH */
.onoffswitch {
    position: relative;
		top:541px;
		left:-542px;
		width: 115px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

/*hide the checkbox that forms the basis of the switch*/
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
		overflow: hidden;
		cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
		font-family: 'Iceland', cursive;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px; /*horizontal placement of 'on' and 'off' labels*/
    font-size: 20px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Hints ON";
    padding-left: 10px;
    background-color: green; color: #fff;
}
.onoffswitch-inner:after {
    content: "Hints OFF";
    padding-right: 4px;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 80px; /* set position of switch circle */
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
