{%extends "master_layout.html"%}
  {% block script %}
    <script type="text/javascript">
      var chart_to_load = '{{chartToLoad}}';
      var teams = '{{team_data|tojson}}';
    </script>
  {% endblock %}
  {% block content %}
    {% block chart_options %}
    <form action="/charts/" id="chart_form" method="get">
      <select name="chart_select" id="chart_selection">
        <option selected="selected">Select chart type:</option>
        <option value="barChartGames">Bar Chart - Games</option>
        <option value="barChartPoints">Bar Chart - Points</option>
        <option value="lineChart">Line Chart</option>
      </select>
      <p>
        <fieldset>
          <legend>Teams</legend>
          {% for team in team_list %}
          <!-- <p><input name="team_checked" type="checkbox" value='{{team.name}}'>{{team.name.title()}}</p> -->
          <input name="team_checked" type="checkbox" value='{{team.name}}'>
          <label for="{{team.name}}">{{team.name.title()}}</label>
          {% endfor %}
        </fieldset>
      </p>
    </form>
    {% endblock %}
    <div id="chart_div" style="border: 1px solid #ccc"></div>
    {% endblock %}
    {% block bottomscript %}
      <script src="{{url_for('static', filename='scripts/myCharts.js')}}"></script>
    {% endblock %}
