{%extends "master_layout.html"%}
{%block content%}
    {% if error %}
      <h3 class='error'>{{error}}</h3>
    {% endif %}

      <div id="create_team_form">
        <form action="/create/" method="post" id="create_team">
          <p>
            <input type="text" name="team" class="required ui-widget" id="teamName" placeholder="Enter team name">
          </p>
          <!-- <p>
            Won
            <select name="won" class="selectmenu">
              {% for val in drop_down_values %}
                <option value='{{val}}'>{{val}}</option>
              {% endfor %}
            </select>
          </p>
          <p>
          Drawn
            <select name="drawn" class="selectmenu">
              {% for val in drop_down_values %}
                <option value='{{val}}'>{{val}}</option>
              {% endfor %}
            </select>
          </p>
          <p>
            Lost
            <select name="lost" class="selectmenu">
              {% for val in drop_down_values %}
                <option value='{{val}}'>{{val}}</option>
              {% endfor %}
            </select>
          </p> -->
          <p><input type="submit" value="save team" id="submitSaveTeam" class="ui-button ui-corner-all ui-widget"></p>
          <!-- <input type="hidden" name="moveOn" value="Yes" /> -->
        </form>

      </div> <!--create_team_form-->

    <div id="dialog-confirm" class="ui-helper-hidden">
      <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Let me see
    </div>

{%endblock%}
