{%extends "master_layout.html"%}
{%block content%}
    {% if error %}
      <h3 class="error">{{error}}</h3>
    {% endif %}

      <div id="enter_result_form">
        <form action="/create_result/" id="create_result_form" method="post">
          <p class="teamDropDowns">
            <!-- <span>Home Team</span> -->
            <select name="home_team" class="selectmenu">
              {% if error %}
                <option selected="selected" value='{{teams["Home"]}}'>{{teams['Home'].title()}}</option>
              {% else %}
                <option selected="selected">Select home team...</option>
              {% endif %}
              {% for team in team_dd %}
                <option value='{{team.name}}'>{{team.name.title()}}</option>
              {% endfor %}
            </select>
            <!-- Home Half Time Goals -->
            <input class="spinner tool_tip" title="Enter home teams goals scored by half time" name="hhtg" value="0">
            <!-- Home Full Time Goals -->
            <input class="spinner tool_tip" title="Enter home teams goals scored by full time" name="hftg" value="0">
          </p>
          <p class="teamDropDowns">
            <select name="away_team" class="selectmenu">
              {% if error %}
                <option selected="selected" value='{{teams["Away"]}}'>{{teams['Away'].title()}}</option>
              {% else %}
              <option selected="selected">Select away team...</option>
              {% endif %}
              {% for team in team_dd %}
                <option value='{{team.name}}'>{{team.name.title()}}</option>
              {% endfor %}
            </select>
            <!-- Away Half Time Goals -->
            <input class="spinner tool_tip" title="Enter away teams goals scored by half time" name="ahtg" min="0" value="0">
            <!-- Away Full Time Goals -->
            <input class="spinner tool_tip" title="Enter away teams goals scored by full time" name="aftg" min="0" value="0">
          </p>
          <p><input type="submit" value="save result" id="submitSaveResult"></p>
        </form>
      </div> <!--create_team_form-->

{%endblock%}
