{%extends "master_layout.html"%}
{%block content%}
  <div id="teams_list">
    <table>
      <tr>
        <th scope="col"></th>
        <th scope="col">Points</th>
        <th scope="col" id="GDToolTip" title="This is calculated by a team's goals scored minus goals conceded">GD</th>
        <th scope="col">Played</th>
        <th scope="col">Won</th>
        <th scope="col">Drawn</th>
        <th scope="col">Lost</th>
        <th scope="col">Scored</th>
        <th scope="col">Conceded</th>
      </tr>
      {% for team in teams %}
        <tr class="table_rows">
          <td class="team_column"><a href="{{ url_for('drill_down', team=team.name) }}">{{team.name.title()}}</a></td>
          <td>{{team.points()}}</td>
          <td>{{team.goals_scored - team.goals_conceded}}</td><!--this shows direct use of properties for calculation-->
          <td>{{team.games_played()}}</td>
          <td>{{team.won}}</td>
          <td>{{team.drawn}}</td>
          <td>{{team.lost}}</td>
          <td>{{team.goals_scored}}</td>
          <td>{{team.goals_conceded}}</td>
        </tr>
      {% endfor %}
    </table>

  </div> <!--END teams_list-->
{%endblock%}
