<!DOCTYPE html>
<html>
<head>
  <title>Premiership 2017/18</title>
  {% block state_script %}
  <script type="text/javascript">
    var sys_state = '{{state}}';
  </script>
  {% endblock %}
  {% block script %}
  {% endblock %}
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/PL_site.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Baloo|Bungee|Iceland" rel="stylesheet">
  <style>
  .ui-widget-overlay {
    position: absolute;
  }
  </style>
</head>
<body>
    <div id="wrapper">

      <header id="logo">
        <h1><a href="/league/">Premier League</a></h1>
      </header>

      <header id="hints"></header>

      <nav>
        <ul>
            <li class="menu_item"><a href="{{ url_for('home') }}"><span><img class="icons" src="{{url_for('static', filename='images/league_table.png')}}"> </span>League table</a></li>
            <li id="new_team" class="menu_item"><a href="{{ url_for('new_team') }}"><span><img class="icons" src="{{url_for('static', filename='images/team.png')}}"> </span>New team</a></li>
            <li><a href="{{ url_for('enter_result') }}"><span><img class="icons" src="{{url_for('static', filename='images/players.png')}}"> </span>Enter result</a></li>
            <li><a href="{{ url_for('view_results') }}"><span><img class="icons" src="{{url_for('static', filename='images/goalpost.png')}}"> </span>View results</a></li>
            <li><a href="{{ url_for('delete_all_results') }}"><span><img class="icons" src="{{url_for('static', filename='images/delete.png')}}"> </span>Delete results</a></li>
            <form id="deleteAllTeams" action="/delete_all_teams/" method="post">
              <li><a  id="submitDeleteAllTeams" href="#"><span><img class="icons" src="{{url_for('static', filename='images/delete.png')}}"> </span>Delete teams</a></li>
              <!-- <input type="hidden"> -->
            </form>
            <li><a href="{{url_for('display_upload_form')}}"><span><img class="icons" src="{{url_for('static', filename='images/upload.png')}}"> </span>Load data</a></li>
            <li><a href="{{url_for('display_upload_errors')}}"><span><img class="icons" src="{{url_for('static', filename='images/errors.png')}}"> </span>Upload errors</a></li>
            <li><a href="{{url_for('GetCharts')}}"><span><img class="icons" src="{{url_for('static', filename='images/data_visualization.png')}}"> </span>Visualization</a></li>
            <li><a href="{{url_for('landing_page')}}"><span><img class="icons" src="{{url_for('static', filename='images/about.png')}}"> </span>About</a></li>
        </ul>
      </nav>

      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
      </div>

      <section id="master_section">
        <!-- <div id="usr_messages"></div> -->
        {%block content%}
          <div>
            {% block chart_options %}
            {% endblock %}
          </div>
        {%endblock%}
      </section>

      <footer>Icons made by
          <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>,
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
          <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>
          <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">& Gregor Cresnar</a>
          from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>.
          Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </footer>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{{url_for('static', filename='scripts/my_JQ.js')}}"></script>
      <script src="{{url_for('static', filename='scripts/jquery-ui.min.js')}}"></script>
      {% block bottomscript %}
      {% endblock %}
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    </div> <!--end div wrapper-->
    <div id="dialog-confirm" class="ui-helper-hidden">
      <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>CONFIRM ACTION
    </div>
</body>
</html>
