<!DOCTYPE html>
<html>
<head>
  <title>Premiership 2017/18</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/MyCV.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.css')}}">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle|Bungee+Shade|Unica+One|Play|Baloo|Bungee" rel="stylesheet">
  <meta charset="UTF-8">
  <style>
  .ui-widget-overlay {
    position: absolute;
  }
  </style>
</head>
<body>
    <div id="wrapper">

      <header>
        <h1><a href="/">Premier League</a></h1>
      </header>

      <nav>
        <ul>
            <li><a href="{{ url_for('new_team') }}"><span><img class="icons" src="{{url_for('static', filename='images/team.png')}}"> </span>New team</a></li>
            <li><a href="{{ url_for('enter_result') }}"><span><img class="icons" src="{{url_for('static', filename='images/players.png')}}"> </span>Enter result</a></li>
            <li><a href="{{ url_for('view_results') }}"><span><img class="icons" src="{{url_for('static', filename='images/goalpost.png')}}"> </span>View results</a></li>
            <li><a href="{{ url_for('delete_all_results') }}"><span><img class="icons" src="{{url_for('static', filename='images/delete.png')}}"> </span>Delete results</a></li>
            <form id="deleteAllTeams" action="delete_all_teams/" method="delete">
              <li><a  id="submitDeleteAllTeams" href="#"><span><img class="icons" src="{{url_for('static', filename='images/delete.png')}}"> </span>Delete teams</a></li>
              <input type="hidden">
            </form>
            <li><a href="{{url_for('display_upload_form')}}"><span><img class="icons" src="{{url_for('static', filename='images/upload.png')}}"> </span>Load data</a></li>
            <li><a href="{{url_for('display_upload_errors')}}"><span><img class="icons" src="{{url_for('static', filename='images/errors.png')}}"> </span>Upload errors</a></li>
        </ul>
      </nav>

      <section>
        <!-- <div id="usr_messages"></div> -->
        {%block content%}
        {%endblock%}
      </section>

      <footer>
        <div>Icons made by
          <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>,
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
          <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>,
          <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
          Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </footer>

      <script src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
      <script src="{{url_for('static', filename='scripts/jquery.validate.min.js')}}"></script>
      <script src="{{url_for('static', filename='scripts/my_JQ.js')}}"></script>
      <script src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    </div> <!--end div wrapper-->
    <div id="dialog-confirm" class="ui-helper-hidden">
      <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>CONFIRM ACTION
    </div>
</body>
</html>
