{%extends "master_layout.html"%}
  {% block script %}
  <script type="text/javascript">
    var chart_to_load = '{{chartToLoad}}';
    var teams = '{{team_data|tojson}}';
    var home_stats = '{{Home_Form|tojson}}'
    var away_stats = '{{Away_Form|tojson}}'
  </script>
  {% endblock %}
  {% block content %}
  <section class="stats_headline">
    <p>{{team_data['TeamName'].title()}}</p>
    <p>Rating : {{team_data['Rating']}}</p>
  </section>
    {% block chart_options %}
    <form action="/charts/" id="chart_form" method="get">
      <p>
        <select name="week_select_start" id="week_selection_start">
            <option selected="selected">Select start week...</option>
            {% for week in weeks %}
              <option value="{{week}}">{{week}}</option>
            {% endfor %}
        </select>
        <select name="week_select_end" id="week_selection_end">
          <option selected="selected">Select end week...</option>
          {% for week in weeks %}
            <option value="{{week}}">{{week}}</option>
          {% endfor %}
        </select>
      </p>
    </form>
    {% endblock %}
    <a href="{{url_for('GetCharts')}}">Visualization</a>
    <section class='stats'>
      <h2 id="stats_overall">overall stats</h2>
      <div id="overall">
        <table class="stats_table">
        <tr>
          <td><div id="WDL_chart"></div></td>
          <td><div id="goals_chart"></div></td>
        </tr>
      </table>
      <section id="key_facts">
        <p>Current Position : {{history[-1]}}</p>
        <p>Average Position : {{team_data['Average'] | round | int }}</p>
        <p>Highest Position : {{ history|sort|first }}</p>
        <p>Lowest Position : {{ history|sort|last }}</p>
        <p>Scored per match : {{ (team_data['GS'] / team_data['Played']) | round(2) }}</p>
        <p>Conceded per match : {{ (team_data['GC'] / team_data['Played']) | round(2) }}</p>
      </section>
    </div>
    </section>

    <section class='stats'>
      <h2 id="stats_home">home stats</h2>
      <div id="home">
        <table class="stats_table">
        <tr>
          <td><div id="WDL_chart_home"></div></td>
          <td><div id="goals_chart_home"></div></td>
        </tr>
      </table>
      <section id="key_facts_home">
        <p>Home rating : {{Home_Form['Rating']}}</p>
        <p>Scored per match : {{ (Home_Form['GS'] / Home_Form['Played']) | round(2) }}</p>
        <p>Conceded per match : {{ (Home_Form['GC'] / Home_Form['Played']) | round(2) }}</p>
      </section>
    </div>
    </section>

    <section class='stats'>
      <h2 id="stats_away">away stats</h2>
      <div id="away">
        <table class="stats_table">
        <tr>
          <td><div id="WDL_chart_away"></div></td>
          <td><div id="goals_chart_away"></div></td>
        </tr>
      </table>
      <section id="key_facts_away">
        <p>Away rating : {{Away_Form['Rating']}}</p>
        <p>Scored per match : {{ (Away_Form['GS'] / Away_Form['Played']) | round(2) }}</p>
        <p>Conceded per match : {{ (Away_Form['GC'] / Away_Form['Played']) | round(2) }}</p>
      </section>
    </div>
    </section>

    {% endblock %}
    {% block bottomscript %}
      <script src="{{url_for('static', filename='scripts/myCharts.js')}}"></script>
    {% endblock %}
