{%extends "master_layout.html"%}
  {% block script %}
  <script type="text/javascript">
    var chart_to_load = '{{chartToLoad}}';
    var teams = '{{team_data|tojson}}';
    var home_stats = '{{Home_Form|tojson}}';
    var away_stats = '{{Away_Form|tojson}}';
  </script>
  {% endblock %}
  {% block content %}
  <div id="loader"></div>
      <div>
        <section>
          <p id=team_details_name>{{team_data['TeamName'].title()}}</p>
          <p class="rating">Performance Rating : {{team_data['Rating']}}</p>
        </section>

        <section class='stats'>
          <h2 id="stats_overall" class="stats_banner">Overall stats</h2>
          <div id="overall">
            <table class="stats_table">
            <tr>
              <td><div id="WDL_chart"></div></td>
              <td><div id="goals_chart"></div></td>
            </tr>
          </table>
          <section id="key_facts" class="key_facts_card" >
            <h2 class="card_title">Key Facts</h2>
            {% if team_data['Played'] %}
              <p>Current Position : {{history[-1]}}</p>
              <p>Average Position : {{team_data['Average'] | round | int }}</p>
              <p>Highest Position : {{ history|sort|first }}</p>
              <p>Lowest Position : {{ history|sort|last }}</p>
              <p>Scored per match : {{ (team_data['GS'] / team_data['Played']) | round(2) }}</p>
              <p>Conceded per match : {{ (team_data['GC'] / team_data['Played']) | round(2) }}</p>
            {% else %}
              <p>No performance data available</p>
            {% endif %}
          </section>
        </div>
        </section>

        <section class='stats'>
          <h2 id="stats_home" class="stats_banner">Home stats</h2>
          <div id="home">
            <table class="stats_table">
            <tr>
              <td><div id="WDL_chart_home"></div></td>
              <td><div id="goals_chart_home"></div></td>
            </tr>
          </table>
          <section id="key_facts_home" class="key_facts_card">
            <h2 class="card_title">Key Facts</h2>
            {% if Home_Form['Played']  %}
              <p>Home rating : {{Home_Form['Rating']}}</p>
              <p>Scored per match : {{ (Home_Form['GS'] / Home_Form['Played']) | round(2) }}</p>
              <p>Conceded per match : {{ (Home_Form['GC'] / Home_Form['Played']) | round(2) }}</p>
            {% else %}
              <p>No home performance data available</p>
            {% endif %}
          </section>
        </div>
        </section>

        <section class='stats'>
          <h2 id="stats_away" class="stats_banner">Away stats</h2>
          <div id="away">
            <table class="stats_table">
            <tr>
              <td><div id="WDL_chart_away"></div></td>
              <td><div id="goals_chart_away"></div></td>
            </tr>
          </table>
          <section id="key_facts_away" class="key_facts_card">
              <h2 class="card_title">Key Facts</h2>
              {% if Away_Form['Played']  %}
                <p>Away rating : {{Away_Form['Rating']}}</p>
                <p>Scored per match : {{ (Away_Form['GS'] / Away_Form['Played']) | round(2) }}</p>
                <p>Conceded per match : {{ (Away_Form['GC'] / Away_Form['Played']) | round(2) }}</p>
              {% else %}
                <p>No away performance data available</p>
              {% endif %}
          </section>
        </div>
        </section>
      </div>
    {% endblock %}
    {% block bottomscript %}
      <script src="{{url_for('static', filename='scripts/myCharts.min.js')}}"></script>
    {% endblock %}
