{%extends "master_layout.html"%}
{%block content%}
    {% if feedback %}
      <h3 class="feedback">{{feedback}}</h3>
    {% endif %}
    {% if invalid_results %}
      <div class="warning">
        All valid results have been uploaded, however there are {{error_count}} invalid results that need correcting:
      </div>

      <div id="invalid_results">
        <table id="results_grid">
          <tr>
            <th hidden scope="col">ID</th>
            <th scope="col">Home</th>
            <th scope="col">FT</th>
            <th scope="col">HT</th>
            <th scope="col">HT</th>
            <th scope="col">FT</th>
            <th scope="col">Away</th>
            <th scope="col">Error</th>
          </tr>
          {% for result in invalid_results %}
            <!-- <p>We are in item number: {{ loop.index0 }}</p> -->
            {% set outer_loop = loop.index0 %}
            <tr class="table_rows">
              <td hidden name="ID">{{result.result_id}}</td>
              <td name="home_team" class="team_name">{{result.home_team.title()}}</td>
              <td name="hftg">{{result.home_ftg}}</td>
              <td name="hhtg">{{result.home_htg}}</td>
              <td name="ahtg">{{result.away_htg}}</td>
              <td name="aftg">{{result.away_ftg}}</td>
              <td name="away_team" class="team_name">{{result.away_team.title()}}</td>
              <td class="error_desc">
                <ol>
                  {% for error in result.error_set: %}
                      <li>{{error.description}}</li>
                  {% endfor %}
                </ol>
              </td>
            </tr>
          {% endfor %}
        </table>
        <input class="resolve_error_buttons" id="err_resolve" type="button" value="Resolve Errors"/>
      </div>

    {% endif %}
{%endblock%}
