{%extends "master_layout.html"%}
{%block content%}
    {% if feedback %}
      <h3 class="feedback">{{feedback}}</h3>
    {% endif %}
    {% if error %}
      <h3 class="error">{{error}}</h3>
    {% endif %}
    <!-- <h1 class="feedback">UPLOAD FORM :D</h1> -->
    <form action="/upload_teams/" method="post">
      <p><input type="submit" value="upload teams" class="button_upload"></p>
    </form>

    <form action="/upload_results/" method="post">
      <p><input type="submit" value="upload results" class="button_upload"></p>
    </form>
{%endblock%}
