{%extends "master_layout.html"%}
{%block content%}
    {% if feedback %}
      <h3 class="feedback">{{feedback}}</h3>
    {% endif %}
    {% if invalid_rows %}
      <div class="warning">
        All valid results have been uploaded, however there are {{error_count}} invalid results that need correcting:
      </div>

      <div id="invalid_results">
        <table id="results_grid">
          <tr>
            <th scope="col">Home</th>
            <th scope="col">FT</th>
            <th scope="col">HT</th>
            <th scope="col">HT</th>
            <th scope="col">FT</th>
            <th scope="col">Away</th>
            <th scope="col">Error</th>
          </tr>
          {% for row in invalid_rows %}
            <tr class="table_rows">
              <td name="home_team" class="team_name">{{row[0]}}</td>
              <td name="hftg">{{row[2]}}</td>
              <td name="hhtg">{{row[4]}}</td>
              <td name="ahtg">{{row[5]}}</td>
              <td name="aftg">{{row[3]}}</td>
              <td name="away_team" class="team_name">{{row[1]}}</td>
              <td class="error_desc">{{row[6]}}</td>
            </tr>
          {% endfor %}
        </table>
        <input class="resolve_error_buttons" id="err_resolve" type="button" value="Resolve Errors"/>
      </div>

    {% endif %}
{%endblock%}
